.Navbar h1{
    font-size:52px;
    font-family: candara;
    margin-top: -17px;
    color:#865400;
}
.Navbar{
    width:100%;
    height:175px;
    margin-top:-47px;
    background-color:#002b55;
    list-style: none;
}
.Navbar li{
    padding-top: 55px;
    margin-left: 10px;
    font-size: 30px;
    color:white;
}
h1, h2, h3{
    font-family: candara;
}
p{
     font-family: "Manrope", sans-serif;
}
body{
margin:0;
padding:0;
background-color:#699bd0;
}

.contentcontainer p{
   font-size:18px;
}
.contentcontainer img{
    justify-content: flex-end;
    margin-left: 55%;
    margin-top: -90px;
}
.pros, .cons{
    font-family: candara;
    width:400px;
    padding:5px;
    text-align: center;
}
.cons{
    float:right;
    margin-top: -210px;
}
.prompts ul{
    list-style-position:inside;
    font-family: 'Courier New', Courier, monospace;
}
ul{
    color:whitesmoke;
}
#rating{
    color:#865400;
    text-align: center;
}
.footer{
    width:100%;
    height: 230px;
    background-color:#002b55;
    color:#ffb83e
}
.copyrighttext{
    font-size: 22px;
    text-align: center;
}
.links a{
    text-decoration: none;
    color:#e6f4f1;
    font-size: 20px;
    display:inline-flex;
    text-align: center;

}
.Gemini, .Deepseek, .Copilot{
    margin-left:120px;
    margin-right: 150px;
}
.ChatGPT:hover, .Copilot:hover, .DeepSeek:hover, .Gemini:hover{
    font-size: 18px;
    text-decoration: underline;
}